rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Rules for the users collection
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
